<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
       <add name="Password" connectionString=""/>
    </connectionStrings>
    <userSettings>
        <EmailService.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="EnableSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultParameters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
        </EmailService.Properties.Settings>
    </userSettings>
</configuration>